
.container {
    background-color: var(--background-color-primary);
    height: 100vh;
    width: 100%;
    display: flex;
}

.left {
    width:45%;
    background-color: var(--background-color-primary);
    background-image: url(../../assets/images/test.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 550px;
    
    
    
}
.titel{
    font-size: 7em;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px;
}

.right {
    width:55%;
    background-color: var(--background-color-secondary);
}

.logo {
   /* position: absolute;*/
    
    
}

.main {

}

.footer {
}
