
.container {
    background-color: var(--background-color-primary);
    height: 100vh;
    width: 100%;
    display: flex;
}

.left {
    width:45%;
    background-color: var(--background-color-primary);
    background-image: url(../../assets/images/test.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px;
    color: var(--text-color-primary);
    text-align: center;
}

.right {
    width:55%;
    background-color: var(--background-color-secondary);
}

.logo {
   /* position: absolute;*/
    
    
}

.main {

}

.footer {
    color: var(--text-color-primary);
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 1rem;
}
.iconHeader {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    padding: 1rem;

}

.icon {
    color: var(--text-color-primary);
    margin: 1rem;
  }